<!DOCTYPE html>
<html>
<head>
  <title>Bible Study Chat - ActiveIntelligence Example</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'application' %>
  <%= inertia_headers %>
</head>
<body>
  <%= yield %>
</body>
</html>
